h1.animate__animated {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
}

h2.animate__animated {
    -webkit-animation-duration: 0s !important;
    animation-duration: 0s !important;
}