{% extends 'base.partial' %}

{% block content %}
{% include "media_modal.partial" %}
{% include "projects_modal.partial" %}

<!-- Single column, fullscreen, with a container suspended in the middle that has all the little formatting. -->

<div class="row primary">
    <div class="col">
        <div class="vcenter container py-5">
            <div class="row">
                <div class="col-lg-6 py-5 inline-center">
                    <img class="img bloom mx-auto"
                         src="images/joe_and_hedy.png"
                         alt="A smiling Joe Kaufeld looking at the camera with a small black cat perched on his shoulder."
                         width="450"
                    >
                </div>
                <div class="col-lg-6 inline-center">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <h4 class="text-center mb-4">
                                    Educator, developer, and accessibility nerd with a desire to leave the
                                    world better than I found it.
                                </h4>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-sm-0 col-md-2"></div>
                            <div class="col-xs-6 col-sm-6 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://github.com/itsthejoker" target="_blank">
                                        <i class="fab fa-github fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://www.linkedin.com/in/joe-kaufeld" target="_blank">
                                        <i class="fab fa-linkedin-in fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://twitter.com/joekaufeld" target="_blank">
                                        <i class="fab fa-twitter fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="mailto:joe.kaufeld@gmail.com">
                                        <i class="fas fa-envelope fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-0 col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-block btn-outline-secondary"
                                            data-toggle="modal"
                                            data-target="#projectModal">
                                        Projects
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-block btn-outline-secondary"
                                            data-toggle="modal"
                                            data-target="#mediaModal">
                                        Media
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
