{% extends 'base.partial' %}

{% block content %}
{% include "media_modal.partial" %}
{% include "projects_modal.partial" %}

<!-- Single column, fullscreen, with a container suspended in the middle that has all the little formatting. -->

<div class="row primary">
    <div class="col">
        <div class="vcenter container py-5">
            <div class="row">
                <div class="col-lg-6 py-3 inline-center d-flex justify-content-center">
                    <div role="region" aria-label="Picture of the author.">
                        <picture>
                            <source
                                    type="image/webp"
                                    sizes="200w, 300w, 600vw"
                                    srcset="images/joe_and_hedy_200.webp 200w, images/joe_and_hedy_300.webp 300w, images/joe_and_hedy_450.webp 450w, images/joe_and_hedy.webp 600w"
                            >
                            <img class="img-fluid bloom"
                                 src="images/joe_and_hedy.png"
                                 srcset="images/joe_and_hedy_200.png 200w, images/joe_and_hedy_300.png 300w, images/joe_and_hedy_450.png 450w, images/joe_and_hedy.png 600w"
                                 sizes="200w, 300w, 600vw"
                                 alt="A smiling Joe Kaufeld looking at the camera with a small black cat perched on his shoulder."
                                 width="600"
                            >
                        </picture>
                    </div>
                </div>
                <div class="col-lg-6 inline-center">
                    <div class="container" role="region" aria-label="Contact information and blurb.">
                        <div class="container" id="nameContainer">
                            <h1 class="text-center">Joe Kaufeld</h1>
                        </div>

                        <div class="row mt-3">
                            <div class="col">
                                <h2 class="text-center mb-4">
                                    Educator, developer, and accessibility nerd with a desire to leave the
                                    world better than I found it.
                                </h2>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-0 col-md-2"></div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://github.com/itsthejoker" target="_blank" rel="noreferrer"
                                       aria-label="Check my work out on GitHub!">
                                        <i class="fab fa-github fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://www.linkedin.com/in/joe-kaufeld" target="_blank" rel="noreferrer"
                                       aria-label="Check out my LinkedIn profile!">
                                        <i class="fab fa-linkedin-in fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="https://fosstodon.org/@itsthejoker" target="_blank" rel="me"
                                       aria-label="Find me on Mastodon!">
                                        <i class="fab fa-mastodon fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-3 col-md-2">
                                <div class="d-flex justify-content-center">
                                    <a href="mailto:joe@joekaufeld.com" aria-label="Send me an email!">
                                        <i class="fas fa-envelope fa-3x"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-0 col-md-2"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="d-grid gap-2 mb-2">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#projectModal">
                                        Projects
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="d-grid gap-2 mb-2">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-toggle="modal"
                                            data-bs-target="#mediaModal">
                                        Media
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
